.tick {
  width: 50px;
  height: 4px;
  background: black;
  border: 1px solid black;
}

.tickContainer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 51%;
  left: 16.3%;
  width: 70%;
}
