.hourHand {
  border: 5px solid black;
  background: black;
  width: 180px;
  margin-left: 50%;
}

.hourContainer {
  position: absolute;
  left: 405px;
  top: 500px;
}

.minuteHand {
  border: 3px solid black;
  background: black;
  width: 275px;
  margin-left: 50%;
}

.minuteContainer {
  position: absolute;
  left: 360px;
  top: 502px;
}

.secondHand {
  border: 1px solid red;
  background: red;
  width: 300px;
  margin-left: 50%;
}

.secondContainer {
  position: absolute;
  left: 350px;
  top: 504px;
}
