.hourHand {
  border: 5px solid black;
  background: black;
  width: 70%;
  margin-left: 50%;
}

.hourContainer {
  position: absolute;
  left: 40.25%;
  top: 50%;
  width: 20vw;
}

.minuteHand {
  border: 3px solid black;
  background: black;
  width: 120%;
  margin-left: 50%;
}

.minuteContainer {
  position: absolute;
  left: 40.25%;
  top: 50.15%;
  width: 20vw;
}

.secondHand {
  border: 1px solid red;
  background: red;
  width: 125%;
  margin-left: 50%;
}

.secondContainer {
  position: absolute;
  left: 40.25%;
  top: 50.35%;
  width: 20vw;
}
