main {
  height: 100vh;
  width: 100vw;
  background: black;
}

.clock {
  position: absolute;
  left: 100px;
  top: 100px;
  border: 10px solid darkgoldenrod;
  border-radius: 50%;
  height: 1000px;
  width: 1000px;
  background: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 49.5%;
  border: 5px solid black;
  border-radius: 50%;
  width: 1px;
}
