main {
  height: 1000px;
  width: 1000px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  border: 10px solid darkgoldenrod;
  border-radius: 50%;
  height: 900px;
  width: 900px;
  background: white;
  position: absolute;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid darkgoldenrod;
  border-radius: 50%;
}

.test {
  position:absolute;
  top: 80%;
  left: 80%;
}